/**{ margin: 0;
padding: 0; }
.wrapper{
	margin: 0 auto;
	width: 1000px;
}*/

.imgproject{
	width: 400px;
}
.imgcycle{
	float: center;
	width: 400px;
}

.imgoverview{
	position:right;
	width: 600px;
}
